.site-header.style-4 {

	.header-btn-wrapper {
		order: 2;

		@include media-breakpoint-up(xl) {
			order: 5;
		}
	}

	.header-nav-wrapper {
		@include media-breakpoint-up(md) {
			margin-top: 10px;
		}
		@include media-breakpoint-up(xl) {
			margin-top: 0;
		}
	}

	.main-navigation {
		@include media-breakpoint-up(xl) {
			.menu {
				justify-content: center;
			}

			.jet-menu {
				justify-content: center !important;
			}
		}
	}
	&.transparent {
		position: absolute;
		top: auto;
		left: 0;
		z-index: 100;
		.header-container {
			background-color: transparent;
		}
		.top-panel {
			background-color: transparent;
			&__inner {
				border-bottom: 1px solid;
			}
		}
		@media (max-width: 1038px) {
			position: relative;
		}
	}
}